@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PajoPhone</h1>
    <p>To see phones click  <a href="https://localhost:7197/Phones">here</a>.</p>
</div>
